.benchmarks
.pytest_cache
.vscode
/TaskApp/__pycache__
/TaskApp/.benchmarks
/TaskApp/.pytest_cache
/TaskApp/api/__pycache__
/TaskApp/core/__pycache__
/TaskApp/tests/__pycache__


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
